body {
  margin: 0;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
}

.Container {
  text-align: center;
  background-color: #e9ecef67;
  padding-top: 100px;
  padding-bottom: 50px;
  width:100%

}

.survey-form {
  background-color: #e9ecef;
  padding: 100px 20px 100px 20px;
}

.long-text-input{
  type:"text";
  width:100%;
}

input{
  height: 30px;
  vertical-align: bottom;
}

.display-3 {
  font-size: 6.5rem;
  font-weight: 50;
  font-stretch: expanded;
  margin-top: 1rem; 
}

.subDisplay{
  font-size: 3.5rem;
  font-weight: 300;
  align-content: center;
  text-align: center;
  background-color: #e9ecef;
  padding-top: 30px;
  padding-bottom: 30px;
}

img{
  width: 300px;
  height: 100px;
  padding-left: 20px;
  padding-right: 20px;
}

.ButtonPrimary {
  border-radius: 6px;
  background-color: rgb(38, 129, 240);
  margin-right: 100px;
  margin-left: 0px;
  color: aliceblue;
  width: 160px;
  height: 50px;
  border-width: 0px;
  font-size: 20px;
  cursor: pointer;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.ButtonPrimary:hover{
  background-color: rgb(25, 116, 227);
}

.NavBar {
  background-color: #343a40;
  display: inline-block;
  padding-top: .3125rem;
  padding-bottom: .3125rem;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
  font-size: 1.25rem;
  line-height: 2.5rem;
  white-space: nowrap;
  
}

.NavBarLink {
  padding-top: .3125rem;
  padding-bottom: .3125rem;
  margin-right: 1rem;
  margin-top: 0.3rem;
  font-size: 2.25rem;
  line-height: inherit;
  white-space: nowrap;
  color: white;
  text-decoration: none;
  float: left;
  padding-left: 0.5rem;
  cursor: pointer;
}

.NavBar-Expanded{
  padding-right: 0.5rem;
  padding-top: .3125rem;
  padding-bottom: .3125rem;
  display: flex;
}

.NavBar-Nav {
  display: flex;
  flex-direction: row;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.mr-auto{
  margin-right: auto!important;
}

.NavBarItem {
  color: rgba(255,255,255,.5);
  font-size: 16px;
  margin: 0.4rem 1.5rem 0rem 1.5rem;
  text-decoration: none;
  display: block;
}

.btn-NavBarItem-Dropdown {
  color: rgba(255,255,255,.5);
  background-color: transparent;
  font-size: 16px;
  margin: 0rem 0.5rem 0rem 0.5rem;
  text-decoration: block;
}


.btn-NavBarItem-Dropdown-Invisible {
  width: 100px;
}

.Dropdown-Item {
  display: flex;
  color:black;
}

.NavBar-Condensed-Dropdown-Item {
  text-decoration-color: #343a40;
  
}

.SearchBar {
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  margin-right: 1rem;
}

.SearchBarButton {
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.375rem .75rem .35rem .35rem;
  margin-right: 1.25rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  color: #28a745;
  border-color: #28a745;
}

.col-container-2 {
  display: block;
}

.ButtonSecondary {
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1.5rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;

}

.ButtonSecondary:hover {
  background-color:#495057;
}


.col-2 {

  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 15px;
  width: auto;
}

.assistanceimg {
  padding-left: 150px;
  padding-right: 150px;
}

.row{
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.row-2{
  display: flex;
}

label{
  font-size: 13px;
  font-weight: 100 !important;
  padding-left: 5px;
}

h2 {
  margin-bottom: .5rem;
  font-weight: 500;
  line-height: 1.2;
  font-size: 2rem
}

h3 {
  font-size: 1.0rem;
  display: table-cell;
}

h4 {
  font-size: 1.0rem;
  font-weight: 300;
  text-decoration: underline;
  margin:auto;
}

.MenuIcon {
  width: 50px;
  height: 30px;
  float: left;
  background-color: #343a40;
}



@media (min-width: 768px) {
  .col-2 {
      -ms-flex: 0 0 33.333333%;
      flex: 0 0 33.333333%;
      max-width: 33.333333%;
  }
}

*, ::after, ::before {
  box-sizing: border-box;
}