body {
  margin: 0;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
}

.Container {
  text-align: center;
  background-color: #ffffff67;
  padding-top: 45px;
  padding-bottom: 50px;
  width:100%
}


.survey-form {
  background-color: #ffffff;
  padding: 100px 20px 100px 20px;
}

.long-text-input{
  type:"text";
  width:100%;
}



input{
  height: 30px;
  vertical-align: bottom;
}

.display-3 {
  text-align: left;
  font-size: 6.5rem;
  font-weight: 50;
  font-stretch: expanded;
  margin-top: 1rem; 
  color: #ffffff;
}

.TextBox{
  position: absolute;
  top: 40%;
  bottom: 0%;
  left: 15%;
  right: 60.89%;
  transform: translate(-50%, -50%);
}

.Title-P{
  text-align: center;
  color: azure;
}
.subDisplay{
  font-size: 3.5rem;
  font-weight: 800;
  align-content: center;
  text-align: center;
  background-color: #ffffff;
  padding-top: 30px;
  padding-bottom: 30px;
}

.bottomDisplay{
  font-size: 1.5rem;
  font-weight: 300;
  align-content: center;
  text-align: center;
  background-color: #355503;
  padding-top: 30px;
  padding-bottom: 30px;
}


.Skylineimg {
 
  width: 100%;
  height: 100%;

  padding-right: 20px;
}

.Communityimg {
  width: 100%;
  height: 400px;
 
}


.ButtonPrimary {
  align-content: center;
  border-radius: 6px;
  background-color: #355503;
  font-weight: 300;
  color: aliceblue;
  width: 160px;
  height: 50px;
  border-width: 0px;
  font-size: 18px;
  cursor: pointer;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.ButtonPrimary:hover{
  background-color: #213501
}



.col-container-2 {
  display: block;
}

.ButtonSecondary {
    color: #fff;
    background-color: #355503;
  
    display: inline-block;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1.5rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    width: 100px;
  }

.ButtonSecondary:hover {
  background-color:#495057;
}


.col-2 {
  display: inline-block;
  padding-left: 20px;
  padding-bottom: 15px;
  
  width: min-content;
}

.Assistanceimg {
  width: 90%;
  height: 200px;
}

.row{
  display: flex;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.row-2{
  display: flex;
}

label{
  font-size: 13px;
  font-weight: 100 !important;
  padding-left: 5px;
}

.FindFood{
  text-align: center;
}

h2 {
  margin-bottom: .5rem;
  font-weight: 500;
  line-height: 1.2;
  font-size: 2rem
}

h3 {
  font-size: 1.0rem;
  display: table-cell;
}

h4 {
  font-size: 1.0rem;
  font-weight: 300;
  text-decoration: underline;
  margin:auto;
}


.MenuIcon {
  width: 50px;
  height: 30px;
  float: left;
  background-color: #343a40;
}

.LoadingHeader{
  width: 100%;
  text-align: center;
  padding: 200px 50px 0px;
}



@media (min-width: 768px) {
  .col-2 {
      -ms-flex: 0 0 33.333333%;
      flex: 0 0 33.333333%;
      max-width: 33.333333%;
  }
}

*, ::after, ::before {
  box-sizing: border-box;
}
